# (urbisphere-dm) Custom git exclude paths

## Python
.Python
__pycache__/
*.py[cod]
*$py.class
dask-worker-space/

## Environment
.DS_Store
.ipynb_checkpoints/

## Private assets and runtime outputs
_tmp_*
_run_*
conf/creds/
data/
logs/
tmp/
